@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); /*fuente cursiva: Great Vibes*/

/*
.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Great+Vibes&display=swap'); /*Fuente serif para textos: Cormorant Garamond*/

/*
// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name

.cormorant-garamond-<uniquifier> {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

/*Paleta de colores*/
:root{
    --COLOR_CREMA_CLARO: #F8F7F3;
    --COLOR_MARFIL: #F5EDE1;
    --COLOR_GRIS_PERLA: #DADADA;
    --COLOR_GRIS_CLARO: #C0C0C0;
    --COLOR_GRIS_OSCURO: #7C7D80;
    --COLOR_ARENA: #D6C7B0;
    --COLOR_VERDE: #A3B5A6;
}

h2{
    font-size: 30px;
    color: var(--COLOR_GRIS_OSCURO);
    text-transform: uppercase;
    margin-top: 1em;
}

/* - VIDEO PRESENTACIÓN - */

.contenedor-video{
    position: relative;
    width: 100%;
    height: 100vh;
}

.video-presentacion{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin-bottom: 1em;
}

.contenedor-video .texto-video{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}

.texto-video h5{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0.2em;
}

.texto-video h3{
    font-size: 60px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}

.contenedor-video .flecha-abajo{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    color: var(--COLOR_VERDE);
    text-decoration: none;
    animation: saltar 1.5s infinite;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

/*animación de la flecha*/
@keyframes saltar {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

/* - CUENTA REGRESIVA - */

.fecha{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    font-size: 24px;
    margin-top: 2em;
}

.fecha .fecha-dia{
    font-size: 45px;
    font-family: "Great Vibes", cursive;
    border-left: .05em solid var(--COLOR_GRIS_OSCURO);
    border-right: .05em solid var(--COLOR_GRIS_OSCURO);
    padding: 0 20px;
    color: var(--COLOR_VERDE);
}

.cuenta-regresiva{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.cuenta-regresiva .grupo{
    line-height: 1;
}

.cuenta-regresiva .grupo .grande{
    font-size: 4rem;
    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
    color: var(--COLOR_GRIS_OSCURO);
}

/* --INFORMACIÓN DEL EVENTO -- */

.contenedor-info-evento{
    position: relative;
    padding: 20px;
    max-width: 500px;
    border: 1px solid var(--COLOR_GRIS_OSCURO);
    border-radius: 12px;
    margin: 6em auto;
}

.contenedor-info-evento .flor{
    position: absolute;
    background: url('../img/flores_blancas4.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 300px;
    height: 180px;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
}

.info-evento{
    margin-top: 4em;
    margin-bottom: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.info-evento h3{
    text-transform: uppercase;
    font-size: 30px;
    color: var(--COLOR_GRIS_OSCURO);
    margin-bottom: .5em;
}

.info-evento p{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.info-evento strong{
    font-size: 24px;
    margin-top: 1em;
}

.info-evento a{
    text-decoration: none;
    color: var(--COLOR_CREMA_CLARO);
    background-color: var(--COLOR_GRIS_OSCURO);
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 23px;
    font-weight: 600;
    margin-top: 1em;
    transition: all .8s ease;
}

.info-evento a:hover{
    background-color: var(--COLOR_CREMA_CLARO);
    color: var(--COLOR_GRIS_OSCURO);
}


/* -- GALERÍA DE FOTOS -- */

.grid-imagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    gap: 30px;
    grid-template-areas:
        "img1 img1 img2 img3"
        "img4 img5 img2 img6";
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4em;
}

.img1 { grid-area: img1; }
.img2 { grid-area: img2; }
.img3 { grid-area: img3; }
.img4 { grid-area: img4; }
.img5 { grid-area: img5; }
.img6 { grid-area: img6; }

.grid-imagenes div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.grid-imagenes div{
    transition: all .5s ease-in-out;
}

/* Efecto hover opcional */
.imagen-hover:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}


/* -- DRESSCODE -- */

.seccion-dresscode{
    margin-bottom: 6em;
}

.seccion-dresscode p{
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color: var(--COLOR_GRIS_OSCURO);
}

.gif-dresscode{
    width: 350px;
    height: 350px;
}


/* -- REGALO -- */

.regalo{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 500px;
    margin: 0 auto;
    border-radius: 12px;
    cursor: pointer;
}

.regalo hr{
    height: 1px;
    color: var(--COLOR_GRIS_OSCURO);
    width: 400px;
    margin-bottom: 1em;
}

.regalo p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 400px;
    margin-bottom: 6em;
}

.regalo .regalo-superior{
    width: 300px;
    height: 95px;
    background: url('/img/regalo-superior.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    margin-bottom: -60px;
    transition: all .3s ease;
}

.regalo .regalo-inferior{
    width: 220px;
    height: 137px;
    background: url('/img/regalo-inferior.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 2em;
    z-index: 1;
}

.regalo .flores-chicas-sup{
    position: absolute;
    background: url('../img/flores_blancas1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 150px;
    top: -45px;
    left: 10%;
    transform: translateX(-50%);
    opacity: 99;
}

.regalo .flores-chicas-inf{
    position: absolute;
    background: url('../img/flores_blancas1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 150px;
    top: 280px;
    left: 68%;
    transform: translateX(-50%);
    transform: rotate(180deg);
}

.abierta {
    transform: translateY(-50px) rotate(20deg); 
    transform-origin: center bottom;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.contenido-modal {
    background-color: #fff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    width: 80%;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.cerrar {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 24px;
    cursor: pointer;
}


/* ------- PLAYLIST ------- */

.playlist {
    text-align: center;
    padding: 2em;
    background: #f9f9f9;
    border-radius: 12px;
    margin: auto;
    margin-top: 2em;
}

.playlist iframe{
    width: 400px;
    margin-top: 2em;
}

.playlist h3 {
    font-family: "Cormorant Garamond", serif;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 24px;
}

.playlist p {
    color: var(--COLOR_GRIS_OSCURO);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1em;
}


/* ---- CONFIRMAR ------ */

.confirmar-asistencia{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confirmar-asistencia .icono-invitacion {
    background: url('/img/icono-invitacion.png') center/contain no-repeat;
    width: 80px;
    height: 80px;
    animation: sacudirSuave 3s infinite ease-in-out;
}

/* Animación para sacudir suavemente la invitación */
@keyframes sacudirSuave {
    /* Pausa inicial */
    0%   { transform: rotate(0deg); }
    
    /* 1° sacudida */
    5%   { transform: rotate(-5deg); }
    10%  { transform: rotate(5deg); }
    15%  { transform: rotate(0deg); }

    /* 2° sacudida */
    20%  { transform: rotate(-5deg); }
    25%  { transform: rotate(5deg); }
    30%  { transform: rotate(0deg); }

    /* 3° sacudida */
    35%  { transform: rotate(-5deg); }
    40%  { transform: rotate(5deg); }
    45%  { transform: rotate(0deg); }

    /* Pausa hasta volver a empezar */
    100% { transform: rotate(0deg); }
}

.confirmar-asistencia a{
    text-decoration: none;
    color: var(--COLOR_CREMA_CLARO);
    background-color: var(--COLOR_GRIS_OSCURO);
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 23px;
    font-weight: 600;
    margin-top: 1em;
    transition: all .8s ease;
}

.confirmar-asistencia a:hover{
    background-color: var(--COLOR_CREMA_CLARO);
    color: var(--COLOR_GRIS_OSCURO);
}

/* -- RESPONSIVE -- */

@media (max-width: 768px){
    
    /*fecha y cuenta regresiva*/
    .cuenta-regresiva{
        gap: 1rem;
    }
    .cuenta-regresiva .grupo .grande{
        font-size: 2rem;
    }

    /*Galería de imágenes*/
    .grid-imagenes {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 120px;
    grid-template-areas:
        "img1 img2"
        "img3 img4"
        "img5 img6";
    }
}

@media (max-width: 483px){

}